@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 18px/1.1em Roboto;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 105%;
    
}
body{
    background-color: rgb(249,250,252);

}
.container{
    --bs-gutter-x: 0;
}

.navUp{
    background: url(https://theme644-clothes-free.myshopify.com/cdn/shop/t/2/assets/suitup_top_banner.png?v=11381325228835922861553076005) ;
    height: 100%;
    padding: 15px;
    display: grid;
    max-width: 100%;
    
}
.navUp .row{
    color: white;
    /* display: flex; */
    text-align: center;
    align-items: center;
    
}

.navUp p{
    margin-bottom:0;
    
}
.navUp b{
    font-weight: 700;
    
}
.navUp h3{
    font-size: 93%;
    
    margin: auto;
    font-weight: 300;

}
.navUp button{
    font-size: 60%;
    font-weight: 600;
    border: none;
    padding: 11px 20px;
    background-color: #FFF;
    transition: .3s ease;
}
.navUp button:hover{
    background-color: black;
    color: #FFF;
    transition: .3s ease;
}
.navUp .row .col-4,
.navUp .row .col-5,
.navUp .row .col-3 {
    align-items: center;
   
}
/* ######################################## */
#searchBlock{
    color: rgb(189,189,189);
    font-size: 11px;
    font-weight: 700;
    letter-spacing: .1em;
    
}
#searchBlock span,.navSearchToggle b{
    font-weight: 700;
}

#USD{
    background-color: rgb(249,250,252);
    border: none;
    cursor: pointer;
    color: rgb(189,189,189);
    font-weight: 700;
    outline: none;
    -webkit-appearance: none;
}

.arrow:hover{
    border-color:#6fcfb8 transparent transparent transparent ;
}

.arrow-container {
    position: relative;
    display: inline-block;
}
.arrow {
    position: absolute;
    top: 45%;
    right: -15px; 
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: rgb(189,202,221) transparent transparent transparent;
    transition: transform 0.3s ease; 
  
}

.arrow.flipped {
    transform: translateY(-50%) rotate(180deg);
}
.orderOnline{
    margin-top: 10px;
}

.navSearchToggle span,.toggle2{
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition:color .3s;
}
.navSearchToggle span:hover,.navSearchToggle span a:hover{
    color: #6fcfb8;
    transition: .3s;
}
.navSearchToggle span a{
    color: rgb(189,189,189);
    text-decoration: none;
}
.formInput{
    width: 300px;
    height: 40px;
    padding-right: 34px;
    border-color:#f0f0f0 ;
    border: 1px solid #f0f0f0;
    color: #bdbdbd;
    font-size: 14px;
    padding: 6px 10px;
}
.formInput:focus{
    border: 1px solid #999999;
    outline: none;
    border-radius: 0%;
}
.navSearchToggle form{
    position: relative;
}
.navSearchToggle form .navInputSearch{
    border: none;
    background-color: #FFF;
    
}
.navSearchToggle form .navInputSearch i{
    color: black;
    font-weight: 900;
    font-size: 150%;
    position: absolute;
    top: 20%;
    right: 30px;
}
.biSearchX{
    cursor: pointer;
    border: none;
    background-color: rgb(249,250,252);
}

/* ************************************************************************* */
.headerLinks1{
    font-size: 18px;
    color: #6fcfb8;
    font-weight: 700;
}
.headerLinks{
    font-size: 18px;
    color: #999999;
    font-weight: 700;
}

.nav-link:focus, .nav-link:hover {
    color: #6fcfb8;
}

.navDropdownMenus{
    border-radius: 0%;
    padding: 1rem .5rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.04) 0px .5px 5px; background-color: rgb(249,250,252);
    background-color: #FFF;
    position: absolute;
    top: 40px;
   
}
.navDropdownMenus li a{
    color: #bdbdbd;
    font-size: 80%;
}
.navDropdownMenus li a:hover{
    color: #6fcfb8;
}

.navSale{
    border-radius: 0%;
    padding: 1rem .5rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.04) 0px .5px 5px; background-color: rgb(249,250,252);
    background-color: #FFF;
    width: 25%;
    
}

.showSale{
    display: flex;
    width: 100%;
    /* margin: 20px auto auto auto; */
    position: absolute;
    top: 60px;
    justify-content: space-around;
}

.navCart{
    overflow-y: scroll;
    max-height: 80vh;
}

.hamburger{
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
    border-radius: 20%;
}

.navbar-toggler{
    border: none;
    outline: none;
}
.navbar-toggler:focus{
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar{
    --bs-navbar-padding-y: 0;
    --bs-navbar-toggler-padding-y: 0;
}

#offcanvasLeftClose{
    visibility: hidden;
}